<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="_csrf" th:content="${_csrf.token}" />
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />


  <link rel="stylesheet" th:href="@{/styles/select2.min.css}">
  <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
  <link id="bsdp-css" rel="stylesheet" th:href="@{/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css}">
  <link rel="stylesheet" th:href="@{/styles/styles.css}">
  <link th:href="@{/styles/bootstrap-datetimepicker.min.css}" rel="stylesheet">
  

  <title th:text="${header.addWorkRecordTitle}"></title>
</head>
<body>
  <div th:insert="fragments/WorkRecordingHeader :: WorkRecordingHeader"></div>
  
    <textarea id="work-description" placeholder="Краткое описание" maxlength="5255"></textarea>

  <table id="add_record_table" class="table table-striped table-bordered w-auto container filter">
    
    <thead>
      <tr>
        <th th:text="${header.description}"></th>
        <th th:text="${header.dueDate}"></th>
        <th th:text="${header.equipment}"></th>
        <th th:text="${header.startTime}"></th>
        <th th:text="${header.endTime}"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="row : ${action_plan_rows}" th:id="${row.id}" th:duration=${row.duration}>
        
        <td class="description" th:text="${row.description}"></td>
        <td th:text="${row.dueDate}"></td>
        <td class="equipment" th:text="${row.equipment}"></td>
        <td><input class="datetime start" type="text"/> </td>
        <td><input class="datetime end" type="text"/></td>
      </tr> 
      
    </tbody>
  </table>

  <div align="center"><a onclick="addWork(this)" class="btn btn-primary"> Добавить</a></div>

  <div th:insert="fragments/WorkRecordingHeader :: WorkRecordingFooter"></div>
  <script type="text/javascript" th:src="@{/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js}"></script>
  <script th:src="@{/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ru.min.js}" charset="UTF-8"></script>
  <script type="text/javascript" th:src="@{/libs/bootstrap-datetimepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/libs/locales/bootstrap-datetimepicker.ru.js}"></script>
  <script type="text/javascript" th:src="@{/libs/work_recording/add_work_record.js}"></script>
</body>

</html>