<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <div th:fragment="muTrainingsHeader" >
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="/">
            <img th:src="@{/images/haval_logo.jpg}"/>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/muTrainings">Список сотрудников</a></li>
            <li class="active"><a href="/trainings">Лицензированные обучения</a></li>
            <li class="active"><a href="/positions">Должности</a></li>
            <li class="active"><a href="/departments">Департаменты</a></li>
            <li class="active"><a href="/trainingsNamesList">Список названий лицензированных обучений</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  
</body>
</html>