<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <link rel="stylesheet" th:href="@{/styles/select2.min.css}">

    <script type="text/javascript" th:src="@{/libs/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/departments.js}"></script>
    <script type="text/javascript" th:src="@{/libs/select2.min.js}"></script>
    <title>Должности</title>
</head>
<body>
    <div th:insert="fragments/muTrainingsHeader :: muTrainingsHeader"></div>


    <table>
        <thead>
        <tr>
            <th>№</th>
            <th>Департамент</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>

        <tr th:id="'id' + ${department.id}" th:each="department, count :${departments}" class="department_id">
            <td th:text="${count.count}"></td>
            <td>
                <div class="department" th:text="${department.text}"></div>
            </td>
            <td><input type="button" class="deleteDepartment" value="Удалить" onclick="deleteDepartment(this)"></input></td>
        </tr>
        <tr class="addDepartment">
            <td>+</td>
            <td>
                <input type="text" name="pos" id="inputDepartment"></input>
            </td>
            <td><input type="button" value="Добавить" onclick="addDepartment(this)">
            </td>

        </tr>
        </tbody>
    </table>
</body>
</html>