<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/styles/select2.min.css}">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">

    <title>Должности</title>
</head>
<body>
<div th:insert="fragments/muTrainingsHeader :: muTrainingsHeader"></div>
 <form  action="#" th:action="@{/positions}" th:object="${positions}" method="post">
    <table id="data-table" class="table table-striped table-bordered container">
        <thead>
        <tr>
            <th>№</th>
            <th>Должность</th>
            <th>Удалено</th>
        </tr>
        </thead>
        <tbody>

        <tr th:id="'id' + ${position.id}" th:each="position, count :${positions}" class="position_id">
            <td th:text="${count.count}"></td>
            <td>
                <div class="itemText" th:text="${position.text}"></div>
            </td>
            <td><input type="checkbox" class="itemDel" th:checked="${position.del}" ></td>
        </tr>
        <tr id="addEntry">
            <td>+</td>
            <td>
                <input id="inputText" type="text" class="inputText w-100"></input>
            </td>
            <td><input id="addItemButton" type="button" class="deleteItemButton btn btn-primary" value="Добавить" onclick="addItem(this)">
            </td>

        </tr>
        </tbody>
    </table>
 </form>
 <div th:insert="fragments/muTrainingsHeader :: muTrainingsFooter"></div>
 <script type="text/javascript" th:src="@{/libs/positions.js}"></script>
 <script type="text/javascript" th:src="@{/libs/jpa.js}"></script>
</body>
</html>