<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/styles/select2.min.css}">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">  
    <link id="bsdp-css"  rel="stylesheet" th:href="@{/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css}">
    
    <link rel="stylesheet" th:href="@{/styles/styles.css}">

    <title>График лицензированного обучения сотрудников.</title>
</head>
<body>
  <div th:insert="fragments/muTrainingsHeader :: muTrainingsHeader"></div>
  <table id="table_anchor" class="table table-striped table-bordered container">
    <thead>
      <th>ФИО</th>
      <th>Должность</th>
      <th id="th_pattern" hidden="true" address="trainingsNamesList/get_json" name="id"><div class="text v_text rotated training"></div></th>
    </thead>
    <tbody>
      <tr id="section_pattern" hidden="true" address="departments/get_json"><td class="text v_text department" colspan="100%" align="center"></td></tr>
      <tr id="row_pattern" class="employee" hidden="true" address="muTrainings/get_by_department">
        <td class="text v_fio text-nowrap" name="userId"></td>
        <td class="text v_position select" name="positionId"> </td>
      </tr>
    </tbody>
  </table>

  </div>
  <div th:insert="fragments/muTrainingsHeader :: muTrainingsFooter"></div>
  <script type="text/javascript" th:src="@{/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js}"></script>
  <script th:src="@{/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ru.min.js}"
    charset="UTF-8"></script>
  <script type="text/javascript" th:src="@{/libs/jpa.js}"></script>
  
</body>
</html>