<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/styles/select2.min.css}">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">

    <title>График лицензированного обучения сотрудников.</title>
</head>
<body>
  <div th:insert="fragments/muTrainingsHeader :: muTrainingsHeader"></div>
  <table id="table_anchor" class="table table-striped table-bordered container">
    <thead>
      <th>ФИО</th>
      <th>Должность</th>
      <th id="column_pattern" hidden=true class="text rotated"></th>
    </thead>
    <tbody>
      <tr id="section" hidden="true"></tr>
      <tr id="row_pattern" hidden="true">
        <td class="fio" name="userId"></td>
        <td class="position select" name="positionId"> </td>
      </tr>
    </tbody>
  </table>
  <table id="p_table" class="table table-striped table-bordered container">
    <thead>
      <th>ФИО</th>
      <th>Должность</th>
      <th th:id="'tid' + ${training.id}"th:each="training, count :${trainings}" ><div class="rotated" th:text="${training.text}"></div></th>
    </thead>
    <tbody>
      <tr th:id="'eid' + ${employee.userId}" th:each="employee, count :${employees}"
        class="id_positionName deleteEntry">
        <td>
          <div th:text="${employee.fio}" class="itemPosition"></div>
        </td>
        <td>
          <div th:text="${employee.position}" class="itemTraining"></div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div id="head_pattern" hidden=true></div>
  <div id="row_pattern" hidden=true>

  </div>
  <div th:insert="fragments/muTrainingsHeader :: muTrainingsFooter"></div>
  <script type="text/javascript" th:src="@{/libs/trainings.js}"></script>
  <script type="text/javascript" th:src="@{/libs/jpa.js}"></script>
</body>
</html>