/* td, th {
  border: 1px solid black;
} */
table {
  border-collapse: collapse;
}
.deletePosition {
  width: 100%;
}

#inputDepartment {
  width: 100%;
}

.deleteDepartment {
  width: 100%;
}

.addItemButton {
  width: 100%;
}

.deleteItemButton {
  width: 100%;
}

/* .borderless {
  width: 98%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
} */

.btn-primary {
  color: #fff;
  background-color: #df0e0e;
  border-color: #ff1e1e;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #b96900;
  border-color: #b96200;
  box-shadow: 0 0 0 0.2rem rgba(255, 143, 38, 0.5);
}
.btn-primary:hover {
  color: #fff;
  background-color: #d96900;
  border-color: #cc6200;
}

.itemDel {
  text-align: center;
}

.rotated {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 12rem;
  /*white-space: nowrap;*/
}

.trainings-header th {
  position: sticky;
  top: 0;
  z-index: 2;
  border: 1px solid #dee2e6 !important;
  background: white;
}

.employees-header {
  position: sticky;
  left: 0;
  z-index: 1;
  border: 1px solid #dee2e6 !important;
  background: white;
}
