/* td, th {
  border: 1px solid black;
} */
table {
  border-collapse: collapse;
}
.deletePosition {
  width: 100%;
}

#inputDepartment {
  width: 100%;
}

.deleteDepartment {
  width: 100%;
}

.addItemButton {
  width: 100%;
}

.deleteItemButton {
  width: 100%;
}

/* .borderless {
  width: 98%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
} */

.btn-primary {
  color: #fff;
  background-color: #df0e0e;
  border-color: #ff1e1e;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #b96900;
  border-color: #b96200;
  box-shadow: 0 0 0 0.2rem rgba(255, 143, 38, 0.5);
}
.btn-primary:hover {
  color: #fff;
  background-color: #d96900;
  border-color: #cc6200;
}

.itemDel {
  text-align: center;
}

/* th {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 12rem;
} */
.rotated {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 12rem;
  /* text-align: left; */
  /*white-space: nowrap;*/
}

td.required {
  background-color: rgb(255, 210, 196);
}

td.optional {
  background-color: #f0f0b0;
}

td.notify {
  background-color: yellow;
}

td.alarm {
  background-color: red;
}

.select-employee {
  width: 100%;
}

.not-unique {
  color: red !important;
}

.tmp-btn {
  margin: 0.2rem;
}

.td-center {
  position: relative;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img.pale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.worker-id {
  text-align: center;
}

.done {
  background-color: yellow;
}

.confirmed {
  background-color: green;
}

.description {
  min-width: 20rem;
}

.equipment {
  max-width: 17rem;
  word-wrap: break-word;
}

.letterID {
  max-width: 5rem;
  word-wrap: break-word;
}
