td, th {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
.deletePosition {
  width: 100%;
}

#inputDepartment {
	width: 100%;
}

.deleteDepartment {
	width: 100%;
}